*{
    margin:0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header{
    background: rgb(63,206,251);
    background: radial-gradient(circle, rgba(63,206,251,1) 0%, rgba(72,63,251,1) 100%);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

}

nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0px auto;

}

.nav-link{
    color: white;
    text-decoration: none;
}

nav>h2{
    color: white;
    margin-left: 12px;
    line-height: 80px;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active{
    background-color: rgb(21, 95, 206);

    font-weight: 600;
}
.fondo{
    /*background-color: rgba(0, 255, 247, 0.368);*/
    margin: 120px  60px;
    /*border-radius: 12pxs;
    box-shadow: 2px 2px 15px rgb(51, 15, 1);*/

    padding-bottom: 30px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#fondo_index p{
    font-weight: 600;
}

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
}
.social{
    background: rgb(63,206,251);
background: radial-gradient(circle, rgba(63,206,251,1) 0%, rgba(72,63,251,1) 100%);

    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}

@media(max-width:768px){

    
    header{
        background: rgb(63,206,251);
        background: radial-gradient(circle, rgba(63,206,251,1) 0%, rgba(72,63,251,1) 100%);
        height: 60px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    
    }
    
    nav>h2{
        color: white;
        margin-left: 12px;
        line-height: 60px;
    }
    .nav-menu{
        flex-direction: column;
        margin-right: 20px;
        background: rgb(63,206,251);
        background: radial-gradient(circle, rgba(63,206,251,1) 0%, rgba(72,63,251,1) 100%);
        position: fixed;
        top:60px;
        width: 100%;
        align-items: center;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    .nav-menu-item{
        line-height: 70px;
    }
    
    .nav-menu-link:hover,
    .nav-menu-link_active{
        background: none;
        color: #83c5f7;
    }
    .nav-toggle{
        display: block;
    }

    .nav-menu_visible{
        left: 0;
    }
    .fondo{
        margin: 110px  60px;
    }
}